@tailwind base;
@tailwind components;
@tailwind utilities;

.h2 {
    @apply text-3xl font-semibold py-2;
}

.h4 {
    @apply text-2xl font-semibold py-2;
}

.p {
    @apply text-lg text-gray-500;
}

.card {
    @apply flex flex-col bg-white text-xl p-2 px-3;
}

.smooth-trans {
    @apply transition ease-out duration-500;
}

.fade {
    animation: fade 2s ease-out infinite;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}